<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a new !</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/madLibs" method="post">

     <label for="noun">User's noun</label>
     <input id="noun" name="noun" type="text">

     <label for="verb">User's verb</label>
     <input id="verb" name="verb" type="text">

      <label for="bodypartNoun">User's noun(body part)</label>
    <input id="bodypartNoun" name="bodypartNoun" type="text">

      <label for="thingNoun">User's noun(thing)</label>
    <input id="thingNoun" name="thingNoun" type="text">

    <label for="pluralNoun">User's plural Noun</label>
    <input id="pluralNoun" name="pluralNoun" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>